*                                   @danieletorelli
project/Versions.scala              @mergify
project/plugins.sbt                 @mergify
project/project/plugins.sbt         @mergify
project/build.properties            @mergify
